.info-button {
  background: magenta;
  border-radius: 20px;
  width: 100px;
  padding: 10px;
  margin: 20px;
}


[role="checkbox"] {
    padding:5px;
}

[aria-checked="true"]::before {
    content: "[x]";
}

[aria-checked="false"]::before {
    content: "[ ]";
}

.tabs {
  margin-top: 20px;
}